
<!-- Footer -->
<footer class="custom-footer text-white py-6">
    <div class="container mx-auto footer-content">
      <span>&copy; 2024 MyPasswordManager</span>
    </div>
  </footer>
        <script type="module" src="/js/helpers/validate.js"></script>
        <script  type="module" src="<%= typeof js !== 'undefined' ? `/js/${js}` : ''%>"></script>
</body>
  </html>
  