
<!-- Footer -->
<footer class="custom-footer text-white py-6">
    <div class="container mx-auto footer-content">
      <span>&copy; 2024 MyPasswordManager</span>
    </div>
  </footer>
  
  <script>
    function toggleForms() {
      var loginForm = document.getElementById('loginFormContainer');
      var registerForm = document.getElementById('registerForm');
      
      loginForm.classList.toggle('hidden');
      registerForm.classList.toggle('hidden');
    }
  </script>
  
  </body>
  </html>
  