<div id="addPasswordModal"
class="fixed inset-0 flex items-center justify-center hidden overflow-x-hidden overflow-y-auto z-50 outline-none focus:outline-none">
<div class="absolute inset-0 bg-gray-800 opacity-75"></div> <!-- Blur effect -->
<div class="relative w-auto max-w-3xl mx-auto my-6">
    <!--content-->
    <div class="bg-white rounded-lg shadow-lg relative flex flex-col w-full p-8">
        <!--body-->
        <div class="text-center">
            <h3 class="text-xl font-semibold mb-2">Add Password</h3>
            <input type="text" id="siteNameInput"
                class="form-input w-full px-4 py-2 rounded border border-gray-300 mb-4"
                placeholder="Site Name">
            <input type="password" id="passwordInput"
                class="form-input w-full px-4 py-2 rounded border border-gray-300 mb-4"
                placeholder="Password">
            <div class="flex justify-center">
                <button id="savePasswordButton"
                    class="bg-blue-500 text-white px-4 py-2 rounded">Save</button>
                <button id="closeModalButton"
                    class="bg-gray-300 text-gray-700 ml-4 px-4 py-2 rounded">Close</button>
            </div>
        </div>
    </div>
</div>
</div>