<%- include('../layouts/header') %>
<%- include('../layouts/navbar') %>
<div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
        <div class="col-span-2">
            <div class="add-note-container mt-8 mb-4">
                <input type="text" class="add-note-input px-4 py-2 border border-gray-300 rounded-md mr-2 focus:outline-none focus:border-blue-500"
                    placeholder="Write Something...">
                <button class="add-note-button px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Add Note</button>
            </div>
            <div class="notes-container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="note bg-white rounded-lg shadow-md p-4">
                    <div class="note-header flex justify-between items-center mb-4">
                        <button class="pin-btn">&#128204;</button>
                        <h2 class="note-title text-lg font-semibold">bbbbbbbbbbbb</h2>
                        <button class="delete-btn text-red-500 hover:text-red-700 ml-8">delete</button>
                    </div>
                    <p class="note-content">- aaaaaaaaaa</p>
                    <p class="note-content">- aaaaaaaaaaaaaa</p>
                    <p class="note-content">- aaaaaaaaaaaaaaaaaa</p>
                </div>
                <div class="note bg-white rounded-lg shadow-md p-4">
                    <div class="note-header flex justify-between items-center mb-4">
                        <button class="pin-btn">&#128204;</button>
                        <h2 class="note-title text-lg font-semibold">ggggggggggggg</h2>
                        <button class="delete-btn text-red-500 hover:text-red-700">delete</button>
                    </div>
                    <p class="note-content">- aaaaaaaa</p>
                    <p class="note-content">- aaaaaaaaaaaaaaaaaaaaa</p>
                    <p class="note-content">-aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
                <!-- Daha fazla not ekleyin -->
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer') %>
